# Ignore virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
seekube_state.json
seen_seekube.sqlite3
